// body {
//     margin: auto;
//     font-family: "Roboto", sans-serif;
// }
body{
  overflow: hidden;
  margin: 0;
  /* https://www.svgbackgrounds.com */
  background-color: var(--bg-color);
  background-color:rgb(51, 62, 83);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='334' height='334' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23555555' stroke-width='5.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23888888'%3E%3Ccircle cx='769' cy='229' r='14'/%3E%3Ccircle cx='539' cy='269' r='14'/%3E%3Ccircle cx='603' cy='493' r='14'/%3E%3Ccircle cx='731' cy='737' r='14'/%3E%3Ccircle cx='520' cy='660' r='14'/%3E%3Ccircle cx='309' cy='538' r='14'/%3E%3Ccircle cx='295' cy='764' r='14'/%3E%3Ccircle cx='40' cy='599' r='14'/%3E%3Ccircle cx='102' cy='382' r='14'/%3E%3Ccircle cx='127' cy='80' r='14'/%3E%3Ccircle cx='370' cy='105' r='14'/%3E%3Ccircle cx='578' cy='42' r='14'/%3E%3Ccircle cx='237' cy='261' r='14'/%3E%3Ccircle cx='390' cy='382' r='14'/%3E%3C/g%3E%3C/svg%3E");
}
// .container {
// background-color: bs-primary;
// }
.frame{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
}
@media (min-width: 1200px){
.headline {
    // background-color:rgb(17, 208, 208);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100px;
 background-color:rgb(75, 129, 173);
}
  .locomotive {
    // width: 100%;
    height: 100%;
padding: 0% 0% 0% 0%;
  }
.img {
    padding: 100px;
    height: 1px;
}
.transition{
    display: flex;
    flex-direction: column;
    max-width: 30ch;
    initial-letter: 3;
    font-size: 30px;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px rgba(26, 9, 9, 1.4);
    padding: 0.2em;
    margin-bottom: 1em;
}
// .ul {
//     display: block;
//     list-style-type: disc;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     padding-inline-start: 40px;
// }
p {
    font-size: 14px;
    font-size: clamp(40px,5vw,18px);
    max-width: 30ch;
}
p:first-letter {
    initial-letter: 2;
    font-size: 30px;
    font-weight: bold;
    color: #f00;
    margin-right: 5px;
}
.nav_link {
height: 40%;
}
}

    /* месяцы и годы */

  //   *{
  //     box-sizing: border-box;
  // }
    @mixin clearfix() {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
    }
    .calendar {
      $day-width: 60px;
      width: $day-width * 7;
      font-size: 24px;
      border: solid 3px #afafaf;
      border-radius: 20px 0px 20px 20px;
      // border-top: none;
      border-left: none;
      .calendar-head {
        @include clearfix();
        div {
          float: left;
          width: $day-width;
          text-align: center;
          color: #7b7b7b;
        }
      }
      .calendar-body {
        @include clearfix();
        div {
          position: relative;
          float: left;
          box-sizing: border-box;
          width: $day-width - 8px;
          height: $day-width - 8px;
          margin: 4px;
          padding-top: $day-width / 5;
          border-radius: 15px;
          text-align: center;
          background: #799ffa;
          color: #3b3b3b;
          &.no-day {
            background: none;
          }
          &.cur-day {
            background: #394ffa;
            color: #fff;
          }
        }
      }
    }
#clock {
  padding: 100px;
  font-size: 90px;
  font-family: cursive;
  font-weight: bold;
  width: 30%;
  //height: 135px;
  background-color: aqua;
  border: solid 3px #afafaf;
  border-radius: 0px 20px 0px 20px;
//  .p {font-size: clamp(90px,5vw,18px);}
}
// Dancing boy
// :root {
//   --c-width: 600px;
//   --c-height: 800px;
//   --bg-color: #666;
// }



// #cnv{
//   width: var(--c-width);
//   height: var(--c-height);
//   position: fixed;
//   left: calc(50% - (var(--c-width) * 0.5));
//   top: calc(50% - (var(--c-height) * 0.5));
//   background-color: transparent;
// } 
//////////////////////////////////
// :root {
//   --base: #ffc600;
//   --spacing: 10px;
//   --blur: 10px;
// }

// img {
//   padding: var(--spacing);
//   background: var(--base);
//   -webkit-filter: blur(var(--blur));
//   filter: blur(var(--blur));
// }

// .hl {
//   color: var(--base);
// }

//  @media (min-width: 992px);
// .container {
//   height: 30px;  
// }

// @media (min-width: 768px);
// .container {
//     height: 30px;  
//   }
// @media (min-width: 576px);
// .container {
//     height: 30px;  
//   }